body {
  background-color: #272f2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul.contents {
  counter-reset: index;  
  padding: 0;
  max-width: 500px;
  align-self: center;
  margin-top: 40px;
}

.contents li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
  color: #BABABA;
}

.contents li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  color: aquamarine;
}

.contents li.tool::before, .contents li.tool a {
  color: #A1D6C2;
}

.contents li.game::before, .contents li.game a {
  color: #FAA419;
}

.contents li.other::before, .contents li.other a {
  color: #C9ADB8;
}

.contents li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}

.contents a, .contents a:visited, .contents a:hover, .contents a:active {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.contents li span {
  display: block;
  margin-top: 5px;
}




.navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
  text-align: center;   
} 
 
.navbar ul li {  
	display: inline; 
} 
 
.navbar ul li a, .navbar ul li a:visited, .navbar ul li a:hover, .navbar ul li a:active { 
	text-decoration: underline; 
	padding: .2em 1em; 
	color: #BABABA;
} 