body {
  background-color: #272f2c;
  padding: 50px;
  display: flex;
  justify-content: center;
}

ul {
  counter-reset: index;  
  padding: 0;
  max-width: 500px;
}

li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
  color: #BABABA;
}

li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  color: aquamarine;
}

li.tool::before, li.tool a {
  color: #A1D6C2;
}

li.game::before, li.game a {
  color: #FAA419;
}

li.other::before, li.other a {
  color: #C9ADB8;
}

li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

li span {
  display: block;
  margin-top: 5px;
}